.checkout-item-cart {
  display: flex;
  flex-direction: row;
}

.table-index-field {
  background-color: #2fc18c;
  width: 80px;
}

.table-descricao-field {
  background-color: lightgray;
  width: 500px;
}

.table-quantity-field {
  background-color: #036b52;
  color: white;
  width: 150px;
}

.table-unit-value-field {
  background-color: #421981;
  color: white;
  width: 150px;
}

.table-sub-total-field {
  background-color: #056cf9;
  color: white;
  width: 150px;
}

.table-button-remove-item-field {
  width: 150px;
}

.table-remove-item {
  background-color: #2fc18c;
  border: none;
  height: 100%;
  width: 100%;
}

.table-field {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  padding: 10px 5px;
  text-align: center;
}

.CustomerCheckout {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 868px;
  justify-content: space-between;
  width: 100vw;
}

.customer-checkout__form-order-complement {
  width: 100%;
}


.table-index-head {
  width: 80px;
}

.table-descricao-head {
  width: 500px;
}

.table-quantity-head {
  width: 150px;
}

.table-unit-value-head {
  width: 150px;
}

.table-sub-total-head {
  width: 150px;
}

.table-button-remove-item-head {
  width: 150px;
}

.order-completion-table {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 540px;
  overflow-y: scroll;
}

.order-completion {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-around;
}
